@import url('./people.css');

.about-us {
  text-align: center;
  padding: 5rem;
}

.about-us-title {
  margin-bottom: 1rem;
  color: #8d0606;
  font-size: 3.1875rem;
  font-family: Pacifico, cursive;
}

.about-us-description {
  font-weight: 100;
  font-size: 1.75rem;
  color: #595959;
}