.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-top: 3rem;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 100%;
  background: no-repeat center / cover;
}

.person-img-roberta {
  background-image: url('../../img/pessoas/roberta.jpg');
}

.person-img-marcela {
  background-image: url('../../img/pessoas/marcela.jpg');
}

.person-img-andreia {
  background-image: url('../../img/pessoas/andreia.jpg');
}

.person-name {
  font-family: Pacifico, cursive;
  margin: 1rem 0;
  color: #8d0606;
  font-size: 2rem;
}

.person-role {
  color: #595959;
  font-size: 1.25rem;
}

