@import url('./header/header.css');
@import url('./banner/banner.css');
@import url('./about/about.css');
@import url('./recipe/recipe.css');
@import url('./aboutUs/aboutUs.css');
@import url('./footer/footer.css');

@media (max-width: 800px) {
  .header {
    padding: 0 1rem;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }

  .banner-title {
    font-size: 3rem;
  }

  .about {
    padding: 2.5rem 1rem;
  }

  .about-description {
    font-size: 1.3rem;
  }

  .recipes {
    padding: 5rem 0 0 1rem;
  }

  .recipe {
    width: 100%;
    margin: 0 20px;
  }
}